body {
	background: rgb(209,163,30); /* old browsers */
	background: -webkit-linear-gradient(top, rgb(218,209,199), rgb(209,163,30), rgb(168,84,12)); /* Chrome 10+, Safari 5.1+ */
	background: linear-gradient(top, rgb(218,209,199), rgb(209,163,30), rgb(168,84,12)); /* CSS3 */
}
