/* Debug settings started */

/* Debug settings ended */

body {
	background: rgb(209,163,30); /* old browsers */
	background: -webkit-linear-gradient(top, rgb(218,209,199), rgb(209,163,30), rgb(168,84,12)); /* Chrome 10+, Safari 5.1+ */
	background: linear-gradient(top, rgb(218,209,199), rgb(209,163,30), rgb(168,84,12)); /* CSS3 */
}

.container .main_header, .sub_header {
	color: rgb(51,51,51);
	text-align: center;
	text-shadow: 0px 1px 1px white;
}

.container .main_header {
	font-size: xx-large;
	font-weight: bold;
}

.container .sub_header {
	font-size: large;
	margin-top: -10px;
}

img {
	opacity: 1.0;
	width: 36px;
	height: 36px;
}

.invisible {
	display: none;
}

.project_header_border {
	border-top: 1px solid rgb(142,173,212); /* inner top border line */
	background: white;
}

.project_header {
	border: 1px solid rgb(49,85,137); /* outer border line */
	background: rgb(73,112,172); /* old browsers */
	background: -webkit-linear-gradient(top, rgb(77,130,194), rgb(52,95,153)); /* Chrome 10+, Safari 5.1+ */
	background: linear-gradient(top, rgb(77,130,194), rgb(52,95,153)); /* CSS3 */
	cursor: pointer;
}

.project_icon {
	margin-top: 6px;
	margin-left: 6px;
}

.project_header .last {
	margin-left: -8px;
}

.project_header .last img {
	margin-top: 5px;
}

.project_name {
	color: white;
	text-shadow: 0px 1px 1px black;
	margin-left: 8px;
}

.add_task_panel {
	background: rgb(225,225,255); /* old browsers */
	background: -webkit-linear-gradient(top, rgb(225,225,255), rgb(204,204,204)); /* Chrome 10+, Safari 5.1+ */
	background: linear-gradient(top, rgb(225,225,255), rgb(204,204,204)); /* CSS3 */
}

.plus_icon {
	margin-top: 8px;
	margin-left: 6px;
}

.add_task_panel input {
	width: 752px;
	height: 36px;
	border-left: 1px solid rgb(207,207,207);
	border-top: 1px solid rgb(112,112,112);
	border-right: none;
	border-bottom: none;
	font-size: medium;
	padding-left: 16px;
	margin-left: 8px;
}

.add_task_button {
	height: 36px;
	width: 140px;
	margin-top: 8px;
	font-size: medium;
	color: white;
	text-shadow: 0px 1px 1px black;
	background: rgb(148,203,174); /* old browsers */
	background: -webkit-linear-gradient(top, rgb(148,203,174), rgb(80,135,103)); /* Chrome 10+, Safari 5.1+ */
	background: linear-gradient(top, rgb(148,203,174), rgb(80,135,103)); /* CSS3 */
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid rgb(68,117,87);
}

.button_pressed {
	background: rgb(148,203,174);
	padding-top: 5px;
}

.tasks_list {
	background: white;
}

.checkbox {
	width: 16px;
	height: 16px;
	margin-top: 17px;
	margin-left: 14px;
}

.task_name {
	color: rgb(153,153,153);
	font-size: medium;
	padding-left: 16px;
	border-left: 1px solid rgb(239,218,223);
}

.task_button {
	background: none;
	border: none;
}

.task_button img {
	width: 16px;
	height: 19px;
}

.task_buttons {
	color: rgb(204,204,204);
	border-left: 1px solid rgb(231,235,234);
	margin-left: 20px;
}
